# Configuration
config/

# Dependencies
node_modules/

package-lock.json

# Environment variables
.env
.env.*
!.env.example

# Logs
logs/
*.log

# Database and Session data
data/

# Editor / IDE
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# OS files
Thumbs.db
.DS_Store
